html { 
    height: -webkit-fill-available;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100svh;
    min-height: -webkit-fill-available;    
    margin: 0px;
    font-family: sans-serif;
    background-color: #FCDEE0;
}

#superior {
    display: flex;
    height: 8vmax;    /* alçària d'un 8% respecte l'alçària de la pantalla */
    justify-content: center;    /* centra els elements en la direcció de disposició */
    align-items: center;    /* centra els elements en la direcció perpendicular a la de disposició */
    font-size: 4vmax;    /* mida d'un 4% respecte l'alçària de la pantalla */
    color: white;    /* color del text */
    background-color: #950E17;    /* color de fons */
}
.seccio {
    flex: 1;    /* les seccions ocupen tot l'espai disponible */
    display: none;    /* les seccions s'inicien ocultes, excepte la primera */
}
#seccio_1 {
    display: flex;    /* única secció que es mostra a l'inici */
    justify-content: center;    /* contingut centrat en la direcció de disposició */
    align-items: center;    /* contingut centrat en la direcció transversal */
    font-size: 4vmax;
}

#menu {
    display: flex;
    height: 8vmax;
}

#menu i {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #950E17;
    color: white;
    font-size: 5vmax;
    cursor: pointer;
}

@media (orientation: landscape) {

    body {
        flex-direction: row;
        flex-flow: row-reverse;
    }

    #superior {
        display: none;
    }

    #menu {
        flex-direction: column;
        width: 8vmax;
        height: auto;
    }
}